<h3>Add a new category</h3>
<?= $alert; ?>
<form method="post" class="col-sm-9">
    <div class="form-group">
        <input type="text" name="new_category" class="form-control" placeholder="Enter a new category to add" required=""/>
    </div>
        
    
    <input type="submit" name="add_cat" class="btn btn-primary" value="Add Category" />
</form>